@use "../../tokens" as *;

.wolf-blocks-comparison-table {

	&__title {
		text-align: center;
		margin-bottom: space(5);
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
		font-size: fs(sm);

		th,
		td {
			padding: space(3);
			border-bottom: var(--wolf-border-width) solid var(--wolf-border-color);
		}

		th {
			text-align: center;
			font-size: fs(xs);
			text-transform: uppercase;
			letter-spacing: 0.06em;

			&:first-child {
				text-align: left;
			}
		}
	}

	&__feature {
		font-weight: 500;
	}

	&__cell {
		text-align: center;
		font-size: fs(md);

		&--competitor {
			opacity: 0.5;
		}
	}

	tr.is-winning-row {

		.wolf-blocks-comparison-table__cell--us {
			color: $c-primary;
			font-weight: 700;
		}
	}
}
